.container
  .row
     .col-md-12
       <br>
       h2.title = 'Terms and Conditions'
  .row
    .col-md-12
      <p class="description">In compliance with the duty of information contained in Article 10 of Law 34/2002 of 11 July, Services of the Information Society and Electronic Commerce then Boatinn is declared as a personal website managed by the company boatinnmarketplace.S.L with CIF B93686038 (hereinafter BOATINN) residing at C / Francisco Cano, 53, 29640. Fuengirola. Málaga</p>
  .row
    .col-md-12
      h3.title = '1. Responsibility'
  .row
    .col-md-12
      <p class="description"> Any person who accesses this website assumes the role of user, committing to the observance and strict compliance with the provisions set forth herein, as well as any other legal provision that may be applicable.</p>
      <p class="description"> The provider is exempt from any type of responsibility derived from the information published on its website and for the lack of availability (falls) of the site which will also make periodic stops for technical maintenance. In addition, the provider reserves the right to modify any type of information that may appear on the website, without any obligation to give prior notice or inform users of such obligations, it being understood that publication on the provider&#39;s website is sufficient.</p>
  .row
    .col-md-12
      h3.title = '2. Protection of personal data'
  .row
    .col-md-12
      <p class="description"> The provider complies with Spanish personal data protection regulations, and guarantees full compliance with the obligations set out in Organic Law 15/1999, of 13 December, on the Protection of Personal Data (LOPD), Royal Decree 1720/2007, of 21 December, which approves the regulations implementing the LOPD and other regulations in force at any given time, and ensures that the user&#39;s personal data is used and processed correctly.<br /></p>
  .row
    .col-md-12
      h3.title = '3. Terms and Conditions'
  .row
    .col-md-12
      h3.title = 'Definitions'
      <p class="description"> For the purposes of these Terms and Conditions, the following definitions shall apply:<br />
      <p class="description"> <strong>"Crew Member"</strong> is any individual who uses the Site to request or obtain information about sailing activities or to participate in a Transaction.<br /></p>
      <p class="description"> <strong>“Skipper"</strong> is the owner of the boat (or person designated by the owner) to pilot the boat.<br /></p>
      <p class="description"> <strong>“Users”</strong> are both the Crew and the Skippers, who will be referred to indistinctly as Users for the purposes of these conditions.<br /></p>
      <p class="description"> <strong>“Craft”</strong> according to the RIPA Code Regulation 3, is any kind of vessel, including non-displacement craft, low-flying craft and seaplanes, used or likely to be used as a means of transport on water.<br /></p>
      <p class="description"> <strong>“Transaction”</strong> is each activity booking operation accepted by a Skipper and a Crew Member who have contacted through the Website.<br /></p>
      <p class="description"> <strong>“Reservation Request”</strong> is the procedure by which a Crew Member requests a Skipper for a sailing activity. Once the reservation has been made, the amount of the activity will be automatically charged to the Crew Member's card.<br /></p>
      <p class="description"> <strong>“Commission”</strong> is the percentage that BOATINN applies to the price of each activity.<br /></p>
  .row
    .col-md-12
      h3.title = '4. Acceptance of the conditions'
  .row
    .col-md-12
      <p class="description"><strong>4.1.</strong> The use of the Website by the Users implies the full and unreserved acceptance of each and every one of the provisions included in this clause in the version published by BOATINN at the time that each of them accesses the Website. Consequently, the Users must read carefully the present conditions of use and policy of privacy in each one of the occasions in which it is proposed to use this Website, since they can undergo modifications without previous warning. <br /></p>
      <p class="description"><strong>4.2.</strong> These Terms and Conditions apply to and are binding on any person using or browsing the Website, who agrees to accept them fully and unconditionally. In the event that a natural or legal person does not agree with any of the conditions contained in this agreement, he/she must abstain from continuing to use it and from contracting the products and services offered by BOATINN, given that the mere navigation of the Website is subject to the conditions contained in this document.<br /></p>
      <p class="description"> <strong>4.3.</strong> BOATINN reserves the right to modify the conditions of use and policy of privacy of the Website, reason why it is obligation of the physical or legal person who uses it to review the present conditions periodically.<br /></p>
      <p class="description"> <strong>4.4.</strong> In order to guarantee the traceability of the different versions of these terms and conditions, BOATINN will be able to entrust to a third party alien to the relationship with the Crew and the Skippers the registration and the control of versions of the same ones, in which case, all the parts recognize as the only authentic version of these terms and conditions applicable to a certain date the one that is registered in the above mentioned registry of a third party.<br /></p>
      <p class="description"> <strong>4.5.</strong> BOATINN is not responsible for the availability of the Website for the use of the Crew and Skippers, registered or not; likewise, the Company does not admit any responsibility for damages derived from the use of the Platform or its communication mechanisms.<br /></p>


  .row
    .col-md-12
      <br>
      h3.title = '5. Object'
  .row
    .col-md-12
      <p class="description"> <strong>5.1.</strong> BOATINN is a platform that facilitates the contact between the Crew and the Skippers. BOATINN acts in front of them as a mere intermediary in the provision of the booking service for nautical activities.<br /></p>
      <p class="description"> <strong>5.2.</strong> BOATINN is not part of the contractual relationship between the Crew Member and the Skipper nor does it have any right of ownership or use of the Boat.<br /></p>
  .row
    .col-md-12
      <br>
      h3.title = '6. Reservation process'
  .row
    .col-md-12
      <p class="description"><strong>6.1.</strong> The process of booking an Activity through the Website will consist of several steps, among which we highlight the following:Search for activities or experiences: this functionality allows Users to obtain information about activities or experiences; it is not necessary to be a registered User to access the catalogue of activities. Dialogue between Crew Members and Skippers: through this option, the Web Site will allow communication between both parties to detail or modify conditions or limitations particular to each Activity. BOATINN, as provider of this functionality and creator of the Website, reserves the right to limit or monitor conversations between Crewmembers and Skippers to ensure proper compliance with the rights and obligations of each party. Message to the owner: this functionality allows the Crew Member to request information on a sailing activity or experience offered by the Skipper.<br /></p>
      <p class="description"> <strong>6.2.</strong> The Crewman will pay the price of the Activity entirely through the means of payment established by BOATINN. BOATINN will be responsible for transferring to the Skipper the price obtained by the Crew Member, in the conditions agreed with him.<br /></p>
      <p class="description"> <strong>6.3.</strong> BOATINN will not charge the Crew Member any additional price for his services.<br /></p>
  .row
    .col-md-12
      <br>
      h3.title = '7. Transfer to the employer'
  .row
    .col-md-12
      <p class="description"> <strong>7.1.</strong> The Employer shall pay BOATINN, in consideration of the use of the Website, an amount which shall be the result of applying a percentage to the base price of the activities published by the Employer on the Website.<br /></p>
      <p class="description"> <strong>7.2.</strong> BOATINN will calculate the amount to be transferred to the Skipper for the Activities contracted by the Crewmembers and the amount to be settled by the Skipper to BOATINN for the use of the Website for each transaction. In case of a refund or cancellation, BOATINN will proceed to reimburse the corresponding amounts as soon as possible.<br /></p>
      <p class="description"> <strong>7.3.</strong> The transaction will be carried out after 48 hours of the realization of the activity or experience in the first time that it is used of the Website or of 24 hours of the realization of the activity or experience for the following occasions.always it has been verified that all has gone of correct form by both parts. The time of reception of the amount of the Activity can vary according to the bank to which the transfer is directed.<br /></p>
      <p class="description"> <strong>7.4.</strong> The payment by the Employer of the amount accrued by BOATINN for the use of the Website will be made by deducting the corresponding amounts from the amounts that BOATINN must pay to the Employer in accordance with this article. Thus, the income transferred by BOATINN to the Employer will be the result of reducing the total of the effective income obtained by the transaction in the amount corresponding to the payment for use of the Website, returns, losses and any other expenses incurred by BOATINN on behalf of the OWNER in accordance with these Terms and Conditions. BOATINN will apply a commission to the owner for the service of intermediation of 18% plus the applicable taxes. BOATINN reserves the right to modify this commission by notifying the employers of this change, who may continue or cease to use the platform after the change.<br /></p>
      <p class="description"> <strong>7.5.</strong> BOATINN will issue to the Employer an invoice for its intermediation service adding the applicable taxes in each case.<br /></p>

  .row
    .col-md-12
      <br>
      h3.title = '8. Cancellation and Refund Policy'
  .row
    .col-md-12
      <p class="description"> <strong>8.1.</strong> Crew members<br />When a crew member is unable to attend an activity he has booked, he may ask the skipper to change the owner of the reservation to transfer his booking to a friend, family member or acquaintance of the crew member. This change of owner must be accepted by the skipper. If the crew member does not know someone to whom to transfer his reservation, he may cancel his reservation under the following conditions specified in the following link https://boatinn.es/es/cancellation-policy <br /></p>
      <p class="description"> <strong>8.2.</strong> Skippers<br />If the Employer wants to cancel an Activity he should contact BOATINN. The crew member will be refunded the full amount. When canceling activities frequently, the Website reserves the right to penalize the Skipper's activities in the search results and even cancel his account.<br /></p>
      <p class="description"> <strong>8.3.</strong> Payments to the Skipper in case the Crew Member cancels an Activity:<br />When a Crew Member cancels a reservation, the Skipper will be charged according to the following conditions reflected in his chosen cancellation policy (flexible by default) listed in the following link: https://boatinn.es/es/cancellation-policy<br /></p>
      <p class="description"> <strong>8.4.</strong> Cancellations due to bad weather.<br />If the Activity must be cancelled due to bad weather, Skipper and Crew Member must agree on another day to carry out the Activity. If this alternative is not possible, BOATINN will reimburse the Crew Member the total amount of the activity.<br /></p>
    .row
    .col-md-12
      <br>
      h3.title = '9 Cookies'
  .row
    .col-md-12
      <p class="description"> When accessing the Website, a cookie may be automatically installed and temporarily stored in the User's memory or hard drive to facilitate navigation on the Website. Cookies are used to store information related to the use of the Website (such as the pages consulted, the date and time of access, etc.). Users have the right to reject the use of cookies by configuring their browser. However, this operation will lead to the elimination of all cookies used by the browser, including those used by other websites, which may result in the alteration or loss of some settings or information. The deletion of cookies may modify browsing or even make it difficult for the User on the Site. In this regard, see the advice on how to modify these options according to the browser used, if you need any further information, please read this article <strong>https://www.wikihow.com/Disable-Cookies</strong><br /><br /></p>
  .row
    .col-md-2.col-sm-12
         = link_to t('.back'), root_path, id: 'btn-go-back',
                class: 'button btn-expanded btn-secondary-outlined btn-go-back'
