@import "../../main";

body.cancellation_policy {
  .title {
    font-size: 1.2rem;
    color: $carbon;
    margin: 2rem 0 0;
  }
  .description {
    margin: 1.5rem 0 2rem;
    line-height: 1.2;
  }
  .btn-go-back {
    margin-bottom: 3rem;
  }
}

.tabs-cp-container {
  .ui-widget-content {
    min-height: 30vh;
    color: inherit;
  }
}

.cancellation-list {
  margin-bottom: 2rem;
  li {
    margin-bottom: 1rem;
    line-height: 1.4;
  }
}