.res-ear-menu
  = link_to t('.upcoming_reservations'), dashboard_reservations_path, class: "res-ear-btn #{active_menu_item('reservations', by_index_action: true)}"
  = link_to t('.payment_history'), dashboard_earnings_path, class: "res-ear-btn #{active_menu_item('earnings', by_index_action: true)}"
