= hidden_field_tag 'emptyTextMessage', t(".empty_text")
= hidden_field_tag 'emptyTextareaMessage', t(".empty_textarea")
= hidden_field_tag 'emptyNumberMessage', t(".empty_number")
= hidden_field_tag 'emptySelectMessage', t(".empty_select")
= hidden_field_tag 'emptyPositionMessage', t(".empty_position")
= hidden_field_tag 'perDayMinValMessage', t(".per_day_min_val")
= hidden_field_tag 'perNightMinValMessage', t(".per_night_min_val")
= hidden_field_tag 'perWeekMinValMessage', t(".per_week_min_val")
= hidden_field_tag 'maximumBoatLengthVal', t(".maximum_boat_length")
= hidden_field_tag 'maxAndMinBoatYearOfConstructionVal', t(".max_and_min_boat_year_of_construction", current_year: Date.today.year)
= hidden_field_tag 'maximumCabinsVal', t(".maximum_cabins")
= hidden_field_tag 'maximumBedsVal', t(".maximum_beds")
= hidden_field_tag 'maximumGuestVal', t(".maximum_guest")
= hidden_field_tag 'maximumBathroomsVal', t(".maximum_bathrooms")
= hidden_field_tag 'maximumBoatListingTitleVal', t(".maximum_boat_listing_title")
= hidden_field_tag 'alphanumericBoatListingTitleVal', t(".alphanumeric_boat_listing_title")
= hidden_field_tag 'notOnlyIntegerBoatListingTitleVal', t(".not_only_integer_boat_listing_title")
