tr
  td valign="top"
    = link_to title, url, style: "color: #969fa9; text-decoration: none; border: 1px solid #969fa9; display: block; text-align: center; padding: 10px 22px; max-width: 160px; font-family: 'Cabin', Arial, sans-serif;"
