input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
input[type="radio"] + label {
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
}
input[type="radio"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid $border-color;
  border-radius: 50%;
  background: $white;
}
input[type="radio"] + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $turquoise-dark;
  opacity: 0;
  transition: 0.2s opacity linear;
}
input[type="radio"]:checked + label:after {
  opacity: 1;
}
