<!--<p>Hello <%= @resource.email %>!</p>-->

<table style="width: 100%;">
  <tbody>
  <tr>
    <td style="width: 100%;" align="center">
      <%= image_tag('logo.png', width: 145, height: 32) %>
    </td>
  </tr>
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr style="width: 100%;">
    <td style="height: 1px; border-bottom: 1px solid #b6b6b6;"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
      <table style="max-width: 420px; width: 100%; margin: 0 auto;">
        <tbody>
        <tr>
          <td valign="top" height="100">
            <h1 style="font-family: 'Cabin', Arial, sans-serif; color: #545454; font-size: 29px; line-height: 35px; margin-bottom: 6px; margin-top: 10px;">
              Did you change your </br>
              password?</h1>
          </td>
        </tr>
        <tr>
          <td valign="top" style="padding-bottom: 0;">
            <p style="font-family: 'Cabin', Arial, sans-serif; line-height: 22px; color: #545454; font-size: 17px;">
              We noticed the password for your BoatINN account was </br> recently changed. If this was you, you can safely disregard </br> this email.
            </p>
          </td>
        </tr>

        <tr>
          <td valign="top">
            <a href="#" style="color: #fff; text-decoration: none; border: 1px solid #40d1bf; background: #40d1bf; margin-top: 46px; display: block; text-align: center; padding: 10px 22px; max-width: 160px; font-family: 'Cabin', Arial, sans-serif;">I didn't do this</a>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>

</table>